// variables
$hauora: 'Hauora', sans-serif; // Hauora font-family
$neutralface: 'NeutralFace', sans-serif; // NeutralFace font-family
$primary-font-size: 18px; // Body font-size
$primary-line-height: 1.5; // Body line-height
$primary-color: #000000;
$dark-color: #403F40;
$white-color: #E5E5E5;
$light-color: #ECEBEC;
$grey-color: #D5D4D5;
$yellow-color: #FFD600;

// common document styles - tags
body {
	position: relative;
	overflow-x: hidden;
    font-family: $hauora;
    font-size: $primary-font-size;
    line-height: $primary-line-height;
}

ul,
ol,
li {
	display: block;
	padding: 0;
	margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
    margin: 0;
}

a {
    display: inline-block;
    color: $light-color;
    transition: all 0.35s;
    &:hover {
        color: $yellow-color;
        text-decoration: none;
    }
    &:active {
        color: $yellow-color;
        transition: all 0.15s linear;
    }
}

img {
    max-width: 100%;
}

svg,
svg path,
svg line {
    transition: all 0.35s ease;
}

// common document styles - class
.scroll-disabled {
    overflow: hidden;
}

.container {
    padding: 0 20px;
	margin: 0 auto;
    max-width: 1180px;
    width: 100%;
}

.section {
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    background-attachment: fixed;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        z-index: 2;
        display: block;
        width: 1px;
        height: 100%;
    }
    &--bg {
        background-image: image-set(url(../img/dist/background-body.webp) 1x);
        background-image: url(../img/dist/background-body.jpg);
    }
    &--black {
        color: $light-color;
        background-color: $primary-color;
        &::before {
            background: $dark-color;
        }
    }
    &--white {
        color: $primary-color;
        background-color: $light-color;
        &::before {
            background: $grey-color;
        }
    }

    @media screen and (min-width: 1024px) {
        padding-left: 200px;
        &::before {
            left: 200px;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        padding-left: 120px;
        &::before {
            left: 120px;
        }
    }
    @media screen and (max-width: 767px) {
        padding-left: 15px;
        background-image: none!important;
        &::before {
            left: 15px;
        }
    }
}

.section-padding {
    @media screen and (min-width: 1024px) {
        padding-top: 300px;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        padding-top: 200px;
    }
    @media screen and (max-width: 767px) {
        padding-top: 150px;
    }
}

.wheel-btn {
    position: relative;
    display: inline-block;
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    &:hover {
        svg > .wheel-btn__circle {
            path {
                fill: $yellow-color;
            }
        }
    }
    &:active {
        .wheel-btn__arrow {
            fill: $yellow-color;
            path {
                transition: none;
            }
        }
    }
    svg {
        width: 100%;
        height: 100%;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        min-width: 120px;
        min-height: 120px;
        max-width: 120px;
        max-height: 120px;
    }
    @media screen and (max-width: 767px) {
        min-width: 130px;
        min-height: 130px;
        max-width: 130px;
        max-height: 130px;
    }
}

.back-btn {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: $light-color;
    & > svg {
        margin-right: 15px;
        width: 32px;
        height: 10px;
        transition: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: 16px;
        &--transparent {
            font-size: 14px;
        }
    }
    @media screen and (max-width: 767px) {
        font-size: 12px;
    }
}

.btn {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: $primary-color;
    background: $yellow-color;
    border: 0;
    border-radius: 7px;
    transition: all 0.35s;
    &--transparent {
        font-size: 16px;
        color: $light-color;
        background: transparent;
        border: 1px solid $light-color;
        &:hover {
            color: $yellow-color;
            border: 1px solid $yellow-color;
        }
        &:active {
            color: $primary-color;
            background: $yellow-color;
        }
    }
    & > svg {
        margin-right: 15px;
        width: 25px;
        height: 25px;
        transition: none;
    }
    &:focus {
        outline: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: 16px;
        &--transparent {
            font-size: 14px;
        }
    }
    @media screen and (max-width: 767px) {
        font-size: 14px;
        &--transparent {
            font-size: 14px;
        }
    }
}

.btn[disabled] {
    opacity: 0.8;
}

span.ripple {
    position: absolute;
    transform: scale(0);
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    animation: ripple 0.6s linear;
}

.overflow-title {
    overflow: hidden;
}

.input-group {
    position: relative;
    &__control {
        position: relative;
    }
    &__input,
    &__textarea {
        display: block;
        appearance: none;
        padding: 17px 98px 17px 25px;
        width: 100%;
        font-size: 16px;
        font-weight: 300;
        color: $light-color;
        background: transparent;
        border: 1px solid $light-color;
        border-radius: 7px;
        transition: border 0.25s ease;
        &::-webkit-input-placeholder {
            opacity: 0;
        }
        &::-moz-placeholder {
            opacity: 0;
        }
        &:focus ~ label,
        &:not(:placeholder-shown) ~ label {
            top: 0;
        }
        &:focus {
            border: 1px solid $yellow-color;
            outline: none;
            & ~ .input-group__icons > .input-group__eye-btn {
                visibility: visible;
                opacity: 1;
            }
        }

        @media screen and (max-width: 767px) {
            font-size: 12px;
        }
    }
    &__input[type=password] {
        font-weight: normal;
    }
    &__textarea {
        overflow: hidden;
        resize: none;
    }
    &__label {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        margin: 0;
        padding: 0 10px;
        font-size: 18px;
        font-weight: normal;
        color: $light-color;
        background: $primary-color;
        cursor: text;
        transition: all 0.25s ease;

        @media screen and (max-width: 767px) {
            font-size: 12px;
        }
    }
    &__icons {
        position: absolute;
        top: 50%;
        right: 25px;
        z-index: 1;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
    }
    &__eye-btn {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background: transparent;
        border: 0;
        opacity: 0;
        transition: opacity 0.25s;
        &:focus {
            outline: none;
        }
        &::before {
            content: '';
            position: absolute;
            top: 11px;
            left: -1px;
            transform: rotate(-54.5deg);
            display: block;
            width: 27px;
            height: 1px;
            transition: background 0.15s linear;
        }
        &--show {
            &::before {
                background: $light-color;
            }
        }
    }
    &__eye-btn + &__icon {
        margin-left: 16px;
    }
    &__eye {
        width: 25px;
        height: 23px;
        transition: opacity 0.25s;
    }
    &__icon {
        display: none;
        width: 23px;
        height: 17px;
        transition: opacity 0.25s;
        &--done {
            display: block;
        }
    }
    &__error {
        display: none;
        margin-top: 20px;
        font-size: 14px;
        font-weight: normal;
        color: $light-color;
        &::before {
            content: '*';
            margin-right: 10px;
            font-weight: 500;
            color: $yellow-color;
        }
        &--active {
            display: block;
        }
    }
}

// keyframes
@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}