.nav-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1000;
    padding-top: 200px;
    padding-bottom: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 0;
    background: $primary-color;
    transition: all 0.6s ease-in-out;
    &--active {
        width: 100%;
        opacity: 1;
        .nav-menu__item {
            animation: fadeInLeft 0.5s cubic-bezier(0.42, 0.83, 0.7, 1.25) forwards;
            animation-delay: 0.6s;
            transform-origin: bottom;
            &:nth-of-type(2) {
                animation-delay: 0.75s;
            }
            &:nth-of-type(3) {
                animation-delay: 0.9s;
            }
            &:nth-of-type(4) {
                animation-delay: 1.05s;
            }
            &:nth-of-type(5) {
                animation-delay: 1.2s;
            }
            &:nth-of-type(6) {
                animation-delay: 1.35s;
            }
            &:nth-of-type(7) {
                animation-delay: 1.5s;
            }
            &:nth-of-type(8) {
                animation-delay: 1.65s;
            }
            &:nth-of-type(9) {
                animation-delay: 1.8s;
            }
            &:nth-of-type(n + 10) {
                animation-delay: 1.95s;
            }
        }
    }

    @media screen and (min-width: 1024px) {
        left: 200px;
        &--active {
            width: calc(100% - 200px);
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        left: 130px;
        &--active {
            width: calc(100% - 130px);
        }
    }
    @media screen and (min-width: 768px) {
        &--active {
            .nav-menu__list {
                &::before {
                    height: calc(100% + 205px);
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        left: 0;
        z-index: 99;
        transform: translateY(-200%);
        padding-top: calc(var(--height) + 60px);
        padding-left: 16px;
        width: 100%;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 15px;
            display: block;
            width: 1px;
            height: 100%;
            background: $dark-color;
        }
        &--active {
            transform: translateY(0);
        }
    }

    &__list {
        @media screen and (min-width: 768px) {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: -200px;
                bottom: 0;
                left: 0;
                display: block;
                width: 1px;
                height: 0;
                background: $dark-color;
                transition: height 1s;
                transition-delay: 0.3s;
            }
        }
    }
    &__item {
        position: relative;
        opacity: 0;
        &:first-child {
            border-top: 1px solid $dark-color;
        }
        &:last-child {
            border-bottom: 1px solid $dark-color;
        }
    }
    &__item + &__item {
        border-top: 1px solid $dark-color;
    }
    &__link {
        display: block;
        padding: 35px 0 35px 30%;
        width: 100%;
        font-size: 18px;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.05em;

        @media screen and (max-width: 767px) {
            padding: 20px;
        }
    }
}

// animation
@keyframes fadeInLeft {
    0% {
        right: 20px;
        opacity: 0;
    }
    100% {
        right: 0;
        transform: rotate(0deg);
        opacity: 1;
    }
}